/* Extends */

.formato-img {
    border: 2px solid white;
	height: 450px;
	width: 400px;
}

.zonas-img {
    @extend .formato-img;
	margin: 50px;
	background-image: url(../assets/chichenitza-1.jpg);
	background-position: $bg-po;
	background-size: $bg-zs;
}

.pueblos-img {
    @extend .formato-img;
	margin: 50px;
	background-image: url(../assets/img-hidalgo.jpg);
	background-position: $bg-po;
	background-size: $bg-zs;
}

.playas-img {
    @extend .formato-img;
	margin: 50px;
	background-image: url(../assets/img-playa-delfines-cancun.jpg);
	background-position: $bg-po;
	background-size: $bg-zs;
}

.imagencontacto {
    @extend .formato-img;
	margin: 20px 50px 25px 50px;
	background-image: url(../assets/mariachi.jpg);
	background-position: $bg-po;
	background-size: $bg-zs;
}