/* Footer */


.footer {
	height: 310px;
	padding: 25px;
	align-items: center;
	display: flex;
	flex-direction: column;
	position: relative;
	padding-top: 15px;

	.footer-logo {
		height: 100%;
		width: 100%;
		margin-top: 25px;
	}

	.footer-menu-redes {
		display: flex;
		flex-direction: column;
		position: absolute;

		.navfooter {
			display: block;
			text-align: center;
			font-size: large;

			a {
				text-decoration: none;
				color: $dark-pink;
				margin: 10px;

				&:hover {
					text-decoration: solid underline $dark-pink 2px;
				}
			}
		}

		.redes {
			padding: 50px 25px 0px 25px;
			text-align: center;
			color: $dark-pink;

			.footer-link {
				display: inline-block;
				width: 100px;
				margin: 25px;

				.footer-link-images {
					width: 100%;


				}
			}

		}

		.mapa-sitio {
			display: flex;
			justify-content: center;
			text-align: center;
			text-decoration: none;
			font-weight: bold;
			color: $dark-pink;
			margin: 0 auto;

			&:hover {
				text-decoration: solid underline $dark-pink 2px;
			}

		}
	}

}