
.p-index {
	font-size: 20px;
}
.btn-primary {
	background-color: #a74561;
	border-color: #a74561;
	&:hover {
		background-color: #f7c0d0;
		border-color: #f7c0d0;
		color: #a74561;
	}
}

.cultura {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.main-section {
	padding: 0px 0px 120px 0px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.link-lugares {
	border-radius: 10px;
	padding: 15px 30px;
	background-color: #a74561;
	border-color: #a74561;
	color: #f7c0d0;
	&:hover {
		background-color: #f7c0d0;
		border-color: #f7c0d0;
		color: #a74561;
	}
}
.zonas {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.zonas-img {
	border: 2px solid white;
	height: 450px;
	width: 400px;
	margin: 50px;
	background-image: url(../assets/chichenitza-1.jpg);
	background-position: center;
	background-size: cover;
}
.pueblos {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.pueblos-img {
	border: 2px solid white;
	height: 450px;
	width: 400px;
	margin: 50px;
	background-image: url(../assets/img-hidalgo.jpg);
	background-position: center;
	background-size: cover;
}
.playas {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.playas-img {
	border: 2px solid white;
	height: 450px;
	width: 400px;
	margin: 50px;
	background-image: url(../assets/img-playa-delfines-cancun.jpg);
	background-position: center;
	background-size: cover;
}
.cultura-video {
	display: block;
}
.cultura-video-small {
	display: none;
}
.main-section-contacto {
	padding: 0px 0px 120px 0px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.imagencontacto {
	border: 2px solid white;
	height: 450px;
	width: 400px;
	margin: 20px 50px 25px 50px;
	background-image: url(../assets/mariachi.jpg);
	background-position: center;
	background-size: cover;
}
.img-bots {
	height: 100%;
	width: 100%;
	object-fit: contain;
}
.p-bost {
	font-size: 18px;
}