
@media (max-width: 1024px) {
	.footer-logo {
		width: 100%;
	}
	h1 {
		font-size: 30px;
	}
	h2 {
		font-size: 20px;
	}
	p {
		font-size: 16px;
	}
	.cultura-video {
		width: 100%;
	}
	.p-index {
		font-size: 12px;
	}
	.menu-principal {
		font-size: large;
	}
	.navfooter {
		display: block;
		font-size: small;
	}
}
@media (max-width: 768px) {
	.menu-principal {
		font-size: small;
	}
	.navfooter {
		display: none;
	}
	.p-bost {
		font-size: 15px;
	}
}
@media (max-width: 500px) {
	.footer-logo {
		width: 100%;
	}
	h1 {
		font-size: 20px;
	}
	h2 {
		font-size: 20px;
	}
	p {
		font-size: 16px;
	}
	.cultura-video {
		width: 320px;
		display: none;
	}
	.p-index {
		font-size: 10px;
	}
	.menu-principal {
		ul {
			padding-inline-start: 0;
		}
		font-size: 15px;
		text-align: justify;
		padding-inline-start: 0;
	}
	.logo1-titulo {
		height: 100px;
		width: 100px;
	}
	.logo2-titulo {
		height: 100px;
		width: 100px;
	}
	.main-index {
		height: 500px;
	}
	.navfooter {
		display: none;
	}
	.footer-link {
		width: 50px;
	}
	.redes {
		padding: 0;
	}
	.footer {
		padding: 0;
		margin: 0;
		height: 200px;
	}
	.zonas-img {
		margin: 0;
		height: 380px;
		width: 320px;
	}
	.pueblos-img {
		margin: 0;
		height: 380px;
		width: 320px;
	}
	.playas-img {
		margin: 0;
		height: 380px;
		width: 320px;
		font-size: 12px;
		text-align: right;
	}
	.main-section {
		padding: 0px 0px 0px 0px;
		justify-content: center;
	}
	.cultura-video-small {
		display: block;
	}
	.imagencontacto {
		width: 320px;
		margin: 0;
		padding: 0;
	}
	.h2contacto {
		display: none;
	}
	.h3contacto {
		display: none;
	}
	.form {
		text-align: center;
	}
	.div-contacto {
		width: 320px;
	}
	.div-parrafo {
		font-size: smaller;
	}
	.p-bost {
		font-size: 12px;
	}
}